@font-face {
    font-family: 'belka';
    src: url('SverdlovskRegular.eot');
    src: local('Sverdlovsk'), local('SverdlovskRegular'),
        url('SverdlovskRegular.eot?#iefix') format('embedded-opentype'),
        url('SverdlovskRegular.woff2') format('woff2'),
        url('SverdlovskRegular.woff') format('woff'),
        url('SverdlovskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Znikomit';
    src: url('Znikomit.eot');
    src: url('Znikomit.eot?#iefix') format('embedded-opentype'),
        url('Znikomit.woff2') format('woff2'),
        url('Znikomit.woff') format('woff'),
        url('Znikomit.ttf') format('truetype'),
        url('Znikomit.svg#Znikomit') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

