@font-face {
    font-family: 'belka';
    src: url('SverdlovskRegular.eot');
    src: local('Sverdlovsk'), local('SverdlovskRegular'),
        url('SverdlovskRegular.eot?#iefix') format('embedded-opentype'),
        url('SverdlovskRegular.woff2') format('woff2'),
        url('SverdlovskRegular.woff') format('woff'),
        url('SverdlovskRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'Bitter';
    src: url('Bitter-Thin.eot');
    src: url('Bitter-Thin.eot?#iefix') format('embedded-opentype'),
        url('Bitter-Thin.woff2') format('woff2'),
        url('Bitter-Thin.woff') format('woff'),
        url('Bitter-Thin.ttf') format('truetype'),
        url('Bitter-Thin.svg#Bitter-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


